<?xml version="1.0" encoding="UTF-8"?>
<FaderPortPreferences doc_version="0">
  <default_is_post_fx_mixer>true</default_is_post_fx_mixer>
  <emulation_mode>false</emulation_mode>
  <dump_midi>false</dump_midi>
  <latch_is_default_write_mode>true</latch_is_default_write_mode>
  <midi_out_name>FaderPort</midi_out_name>
  <midi_in_name>FaderPort</midi_in_name>
  <sticky_mode_support>false</sticky_mode_support>
  <virtual_pan_resolution>128</virtual_pan_resolution>
  <footswitch_pressed_signal>1.0</footswitch_pressed_signal>
  <anti_suck_min_turns>3</anti_suck_min_turns>
  <dsp_binding_list>
    <dsp_binding>Delay</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>9</dsp_binding>
    <dsp_binding>10</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>Multitap Delay</dsp_binding>
    <dsp_binding>6</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>28</dsp_binding>
    <dsp_binding>27</dsp_binding>
    <dsp_binding>50</dsp_binding>
    <dsp_binding>49</dsp_binding>
    <dsp_binding>72</dsp_binding>
    <dsp_binding>71</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>Repeater</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>Reverb</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>mpReverb</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>6</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>7</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>Compressor</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>Bus Compressor</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>6</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>Maximizer</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>Gate</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>EQ 5</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>EQ 10</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>6</dsp_binding>
    <dsp_binding>6</dsp_binding>
    <dsp_binding>7</dsp_binding>
    <dsp_binding>7</dsp_binding>
    <dsp_binding>8</dsp_binding>
    <dsp_binding>8</dsp_binding>
    <dsp_binding>9</dsp_binding>
    <dsp_binding>9</dsp_binding>
    <dsp_binding>10</dsp_binding>
    <dsp_binding>10</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>Mixer EQ</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>Filter</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>Comb Filter</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>Chorus</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>6</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>Flanger</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>6</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>Phaser</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>7</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>RingMod</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>Cabinet Simulator</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>Convolver</dsp_binding>
    <dsp_binding>8</dsp_binding>
    <dsp_binding>7</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>Exciter</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>11</dsp_binding>
    <dsp_binding>12</dsp_binding>
    <dsp_binding>18</dsp_binding>
    <dsp_binding>19</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>Distortion</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>LofiMat</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>6</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>Scream Filter</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>Gainer</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>DC Offset</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>Stereo Expander</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>#Line Input</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>#ReWire Input</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>#Send</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>#Multiband Send</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>8</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>7</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>8</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>6</dsp_binding>
    <dsp_binding>6</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>*Instr. Automation</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>6</dsp_binding>
    <dsp_binding>7</dsp_binding>
    <dsp_binding>8</dsp_binding>
    <dsp_binding>9</dsp_binding>
    <dsp_binding>10</dsp_binding>
    <dsp_binding>11</dsp_binding>
    <dsp_binding>12</dsp_binding>
    <dsp_binding>13</dsp_binding>
    <dsp_binding>14</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>*Instr. MIDI Control</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>6</dsp_binding>
    <dsp_binding>7</dsp_binding>
    <dsp_binding>8</dsp_binding>
    <dsp_binding>9</dsp_binding>
    <dsp_binding>10</dsp_binding>
    <dsp_binding>11</dsp_binding>
    <dsp_binding>12</dsp_binding>
    <dsp_binding>13</dsp_binding>
    <dsp_binding>14</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>*Instr. Macros</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>6</dsp_binding>
    <dsp_binding>7</dsp_binding>
    <dsp_binding>8</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>*Hydra</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>6</dsp_binding>
    <dsp_binding>10</dsp_binding>
    <dsp_binding>11</dsp_binding>
    <dsp_binding>15</dsp_binding>
    <dsp_binding>16</dsp_binding>
    <dsp_binding>20</dsp_binding>
    <dsp_binding>21</dsp_binding>
    <dsp_binding>25</dsp_binding>
    <dsp_binding>26</dsp_binding>
    <dsp_binding>30</dsp_binding>
    <dsp_binding>31</dsp_binding>
    <dsp_binding>35</dsp_binding>
    <dsp_binding>36</dsp_binding>
    <dsp_binding>40</dsp_binding>
    <dsp_binding>41</dsp_binding>
    <dsp_binding>45</dsp_binding>
    <dsp_binding>46</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>*XY Pad</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>6</dsp_binding>
    <dsp_binding>7</dsp_binding>
    <dsp_binding>11</dsp_binding>
    <dsp_binding>12</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>*Key Tracker</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>*LFO</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>6</dsp_binding>
    <dsp_binding>7</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>*Signal Follower</dsp_binding>
    <dsp_binding>9</dsp_binding>
    <dsp_binding>6</dsp_binding>
    <dsp_binding>7</dsp_binding>
    <dsp_binding>8</dsp_binding>
    <dsp_binding>10</dsp_binding>
    <dsp_binding>11</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>*Velocity Tracker</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>*Meta Mixer</dsp_binding>
    <dsp_binding>6</dsp_binding>
    <dsp_binding>9</dsp_binding>
    <dsp_binding>7</dsp_binding>
    <dsp_binding>10</dsp_binding>
    <dsp_binding>8</dsp_binding>
    <dsp_binding>11</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>Doofer</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>6</dsp_binding>
    <dsp_binding>7</dsp_binding>
    <dsp_binding>8</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>VST: Voxengo: Elephant</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>-1</dsp_binding>
    <dsp_binding>VST: Voxengo: Polysquasher</dsp_binding>
    <dsp_binding>5</dsp_binding>
    <dsp_binding>1</dsp_binding>
    <dsp_binding>3</dsp_binding>
    <dsp_binding>4</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>2</dsp_binding>
    <dsp_binding>-1</dsp_binding>
  </dsp_binding_list>
  <undo_workaround>false</undo_workaround>
  <switch_off_when_app_resigned>false</switch_off_when_app_resigned>
  <emulation_alternate_button_text>true</emulation_alternate_button_text>
  <auto_connect>true</auto_connect>
</FaderPortPreferences>
